<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mkk.pmb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Bottom"
            android:label="PMB STMIK-AUB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Webview"
            android:label="HOME" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>
        <activity
            android:name=".InfoKampusActivity"
            android:label="Manajemen Info Kampus"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".UpdateInfoKampus"
            android:label="Update Info Kampus"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TambahInfoKampus"
            android:label="Tambah Info Kampus"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LihatInfoKampus"
            android:label="Lihat Info Kampus"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>